.main{
    text-align:center;
    font-family: "Courier New";

}
input{
    background: cornsilk;
    height: 25px;
    border-radius: 5px;
}
.get{
    background: cornsilk;
    height: 30px;
    border-radius: 5px;
}
select{
    background: cornsilk;
    height: 30px;
    border-radius: 5px;
}
.item{
    list-style: none;
    display: flex;
    margin-left: -40px;

}
#list-staff{
    display: inline-block;
}
.name{

}
.name,.birthDate,.sex,.id{
    height: 30px;
    width: 170px;
    border-bottom: solid 2px cornsilk;
    line-height: 30px;
    background-color: darkgrey;
}